.filter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.filter__close {
    width: 0;
    height: 0;
}

.filter__count {
    position: fixed;
    top: 0;
    left: 0;
    width: 446px;
    height: 100vh;
    background: #FFFCF4;
    z-index: 200;
    padding: 40px 40px 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: filterOpen 0.5s;
    overflow-y: scroll;
}

.filter__count__close {
    left: -50vw;
    animation: filterClose 0.5s
}

@keyframes filterOpen {
    0% {
        left: -50vw;
    }
    100% {
        left: 0;
    }
}

@keyframes filterClose {
    0% {
        left: 0;
    }
    100% {
        left: -50vw;
    }
}

.filter__title_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.filter__item_count {
    flex-grow: 1;
}

.filter__img_count {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.filter__img_close {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.filter__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__button_clear {
    width: 167px;
    background-color: #FFFFFF;
    color: #565656;
}

.filter__buttons_apply {
    width: 167px;
    background-color: #212121;
    color: #FFFFFF;
}