.product__count {
    position: relative;
    width: 315px;
}

.product__like {
    position: absolute;
    top: 22px;
    right: 22px;
}

.product__like_svg {
    height: 25px;
    width: 25px;
}

.product__img {
    width: 315px;
    height: 497px;
}

.product__img_com {
    width: 100%;
}

.product__brand {
    margin: 0 0 8px 0;
}

.product__info {
    margin: 0 0 20px 0;
}