body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  /* letter-spacing: var(--text-letter-spacing); */
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

ul,
li {
  letter-spacing: var(--text-letter-spacing);
}

input,
button,
textarea {
  font-size: var(--h3-size);
}

button {
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  height: var(--height-default-button);
  font-size: var(--h3-size);
  padding: var(--padding-default-button);
  border: 1px solid var(--stroke-color);
  letter-spacing: var(--text-letter-spacing);
  font-weight: var(--text-font-weight);
  column-gap: 8px;
  /* margin: 0 15px 0 0; */
  box-shadow: inset 0 0 0 0 #565656;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

button:hover {
  box-shadow: inset 400px 0 0 0 #565656;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.14em;
  line-height: 226%;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 500;
  font-family: 'Playfair Display';
}

h2 {
  font-size: var(--h2-size);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-size);
  font-weight: 600;
  font-family: 'Playfair Display';
}
` h4 {
  font-size: var(--h4-size);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 20px;
}

.cards > * {
  flex: 0 0 var(--width-default-product-card);
}
/* 
p {
  font-size: var(--p-size);
  line-height: 25px;
  font-weight: 400;
} */
