.main {
    flex: 1 1 auto;
    margin: 0 auto;
}

.main-board {
    position: relative;
    width: 100%;
    height: 872px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 0 72px 0;
    margin: 0 0 56px 0;
    border-bottom: #565656 1px solid;
}


.main-board__count {
    background: url('../../assets/img/famaly.png') 0 0/100% auto no-repeat;
    width: 120%;
    height: 100%;
    display: flex;
    align-items: end;
    padding: 0 0 84px 0;
}

.main-board__button-count {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-board__button {
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 2;
    display: inline-block;
    box-shadow: inset 0 0 0 0 #565656;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    border: none;
}

.main-board__button:hover {
    box-shadow: inset 400px 0 0 0 #565656;
    color: #ffffff;
}

.new-in {
    text-align: center;
    position: relative;
    border-bottom: #565656 1px solid;
    padding: 0 0 96px 0;
    margin: 0 0 56px 0;
}

.filter__buttons_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 0 0;
    column-gap: 24px;
    width: 350px;
}

.filter__button_filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.filter__button svg path {
    transition: ease-out 0.5s;
}

.filter__button:hover svg path {
    fill: #ffffff;
}

.filter__sort {
    flex: 1 1 auto;
    background-color: #fffcf4;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
    cursor: pointer;
}

.filter__sort p {
    margin: 0 10px 0 0;
    position: relative;
    padding: 8px;
}

.filter__sort p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.filter__sort p:hover::before {
    width: 140%;
}

.products__count {
    display: flex;
    align-items: center;
    margin: 50px 0 70px 0;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    flex: 0 0 315px;
}

.new-products__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.our-looks__count {
    text-align: center;
    position: relative;
    border-bottom: #565656 1px solid;
    padding: 0 0 152px 0;
    margin: 0 0 56px 0;
}

.carousel__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 0 0;
    max-height: 700px;
}

.carousel__more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 709px;
}

.carousel__arrow {
    cursor: pointer;
    transition: 0.3s all;
}

.carousel__arrow:hover {
    opacity: 0.4;
}

.carousel__button {
    margin: 50px 0 0 0;
}

.carousel__pagination_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin: 20px auto;
}

.carousel__pagination {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: #000000 1px solid;
    cursor: pointer;
}

.carousel__pagination_active {
    background-color: #000000;
}

.journal {
    text-align: center;
    position: relative;
    padding: 0 0 136px 0;
    margin: 0 0 64px 0;
    border-bottom: #565656 1px solid;
}

.journal__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 70px 0;
    flex-wrap: wrap;
}
