.filter__brand_title{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /*border-bottom: #565656 1px solid;*/
    padding: 0 0 8px 0;
    margin: 0 0 32px 0;
}

.filter__brand_arrow{
    width: 9px;
    height: 23px;
    padding: 5px 0 0 0;
}