.pagination {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  align-items: center;
}

.pagination ul {
  display: flex;
  column-gap: 16px;
}

.pagination-link {
  background: none;
  font-size: var(--h3-size);
  border: none;
  padding: 0;
}

.pagination__btn {
  background: none;
  border: none;
  padding: 0;
}
