.header {
    height: 157px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav__list_item {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.14em;
    line-height: 226%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.nav__list_item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.nav__list_item:hover::before {
    width: 100%;
}

.title {
    margin: 0 40px 0 0;
    padding: 0 0 15px 0;
}

.links__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 285px
}

.links__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.links__button_img {
    height: 25px;
    width: 25px;
}

.links__button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.links__button:hover::before {
    width: 100%;
}